<ul class="thumbnails">
  <% @last_projects.each_with_index do |project, index| %>
    <% if index == 0 %>
      <li class="span6">
        <% if project.url.eql?("") %>
          <div class="thumbnail">
            <%= image_tag project.picture(:main) %>
          </div>
        <% else %>
          <%= link_to project.url, target: "_blank" do %>
            <div class="thumbnail">
              <%= image_tag project.picture(:main) %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% else %>
      <li class="span3">
        <% if project.url.eql?("") %>
          <div class="thumbnail">
            <%= image_tag project.picture(:thumbnail) %>
          </div>
        <% else %>
          <%= link_to project.url, target: "_blank" do %>
            <div class="thumbnail">
              <%= image_tag project.picture(:thumbnail) %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="pagination pull-right">
  <ul>
    <li>
      <%= link_to projects_path do %>
        <i class="icon-cogs"></i> See all projects
      <% end %>
    </li>
  </ul>
</div>
