<%= form_for @article do |f| %>
  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "input-block-level" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, class: "control-label" %>
    <div class="controls">
      <%= f.collection_select(:category_id, Category.order("name"), :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :picture, class: "control-label" %>
    <div class="control-group">
      <%= f.file_field :picture %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :summary, class: "input-block-level", rows: 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :content, class: "input-block-level", rows: 15 %>
    </div>
  </div>
  <div class="controls">
    <%= f.submit "Create article", class: "btn btn-block btn-large btn-success" %>
  </div>
<% end %>