<%= content_for :title, @article.title %>


<div class="row-fluid">
  <div class="span8">
    <h1><%= @article.title %></h1>
    <div>
      <%= image_tag @article.picture %>
    </div>
    <p class="summary">
      <%= @article.summary %>
    </p>
    <div class="article-content">
      <%= @article.content %>
    </div>
  </div>
  <div class="span4">
    <%= render "sidebar" %>
  </div>
</div>