
<ul id="technologies">
  <!-- <li><% image_tag "android-64.png", class: "android-tech" %></li> -->
  <li><%= image_tag "dropbox-64.png", class: "dropbox-tech" %></li>
  <!-- <li><% image_tag "apple-64.png", class: "apple-tech" %></li> -->
  <li><%= image_tag "github-64.png", class: "github-tech" %></li>
  <li><%= image_tag "facebook-64.png", class: "facebook-tech" %></li>
  <li><%= image_tag "instagram-64.png", class: "instagram-tech" %></li>
  <li><%= image_tag "twitter-64.png", class: "twitter-tech" %></li>
  <li><%= image_tag "rails-64.png", class: "rails-tech" %></li>
  <li><%= image_tag "heroku-64.png", class: "heroku-tech" %></li>
  <li><%= image_tag "spotify-64.png", class: "spotify-tech" %></li>
</ul>
