<nav>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <ul class="nav pull-right social-links">
          <li>
            <a href="https://twitter.com/jcocaramos" target="_blank" data-toggle="tooltip" data-title="@jcocaramos">
              <i class="icon-twitter-sign icon-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/jorgecoca" target="_blank" data-toggle="tooltip" data-title="jorgecoca">
              <i class="icon-github-sign icon-2x"></i>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/jorge-coca-ramos/29/2b8/363/en" target="_blank" data-toggle="tooltip" title="Jorge Coca Ramos">
              <i class="icon-linkedin-sign icon-2x"></i>
            </a>
          </li>
        </ul>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Articles", "#" %></li>
            <li><%= link_to "Projects", "#" %></li>
            <li>
              <%= link_to "#song-of-the-day", "data-toggle" => "modal" do %>
                <i class="fc-webicon spotify small"></i> Song of the day
              <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>

<!-- Modal Song of the day -->
<% unless @song_of_the_day.nil? %>
  <div id="song-of-the-day" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3><%= @song_of_the_day.artist %> - <%= @song_of_the_day.title %></h3>
    </div>
    <div class="modal-body" style="text-align: center;">
      <%= spotify_player(@song_of_the_day.spotify_link) %>
    </div>
    <div class="modal-footer">
      <%= link_to "Visit my music collection", songs_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>