<!DOCTYPE html>
<html>
<head>
  <title>Jorge Coca | <%= content_for?(:title) ? yield(:title) : "Welcome to my personal website" %></title>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : <%= ENV["FACEBOOK_APP_ID"] %>,                        // App ID from the app dashboard
      channelUrl : '//www.jorgecoca.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <%= render "layouts/top_navbar" %>

  <div class="container" id="wrapper">
    <%= render "layouts/top_white_navbar" %>
    <%= render "shared/flash_message" %>
    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/white_footer" %>
  <%= render "layouts/footer" %>
  <%= render "layouts/analytics" %>
</body>
</html>
